/* NavBar */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 155px;
}

.navbar img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.dropdownMenu {
  padding: 115px; 
  background: var(--quinary-color);
  border-radius: 200px;
  font-size: 20px;
  position: absolute;
  top: 43px;
  left: 130px;
  display: none;
}

.dropdownMenu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 75px;
  right: 40px;
}

.dropdownMenu li, .dropdownMenu span {
  cursor: pointer;
  list-style: none;
}

.closeDropdownMenu {
  position: absolute;
  top: 40px;
  left: 35px;
  font-size: 30px;
}

.dropdownMenu li:hover, .closeDropdownMenu:hover {
  opacity: 0.5;  
}

/* Home Page */
.homeMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-image: url("/background-images/backgroundMountain.jpg");
  background-size: cover;
  font-family: arial;
}

.header {
  position: absolute;
  left: 300px;
  bottom: 360px;
  width: 380px;
}

.header::after {
  content: '';
  background: var(--secondary-color);
  width: 75%;
  height: 3px;
  position: absolute;
  left: 0px;
  top: 120px;
}

.paragraph {
  position: absolute;
  left: 300px;
  bottom: 235px;
  width: 440px;
  line-height: 1.5;
}

.moreAboutButton {
  position: absolute;
  left: 300px;
  bottom: 183px;
}

.contactUsButton {
  position: absolute;
  left: 430px;
  bottom: 183px;
}

.buttonContactUs {
  padding: 5px 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.buttonContactUs:hover {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}

.downwardArrow {
  position: absolute;
  right: 100px;
  bottom: 180px;
  width: 25px;
}

/* About Page */
.aboutMain {
  background-color: var(--quaternary-color);
  font-family: arial;
}

.aboutPageText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.aboutPageTextMargin {
  margin: 10px 395px 0px 395px;
}

.firstParagraph {
  margin: 50px 395px;
}

.aboutUsTitles {
  margin: 90px 190px;
  text-align: center;
  border-bottom: 5px solid var(--secondary-color);
  line-height: 0.1em;
}

.aboutUsTitles span {
  background:var(--quaternary-color); 
  padding:0 100px; 
}

.upwardArrow {
  position: fixed;
  right: 100px;
  bottom: 180px;
}

.downwardArrowAboutPage {
  position: fixed;
  right: 100px;
  bottom: 125px;
}

.upwardArrow img, .downwardArrowAboutPage img {
  width: 20px;
  cursor: pointer;
}

.displayCarouselImages {
  position: relative;
}

.carouselImagesDisplay{
  position: relative;
  z-index: 0;
}

.carouselImagesDisplay img {
  width: 400px;
  height: 200px;
}

.carouselImagesTest {
  position: absolute;
  width: 175px;
}

.carouselArrows {
  position: absolute;
  top: 130px;
  left: 38%;
  display: flex;
  gap: 260px;
}

.carouselArrows img {
  width: 35px;
  cursor: pointer;
}

.departmentList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  list-style: none;
  gap: 35px;
  margin-bottom: 35px;
}

/* Contact Page */
.contactMain {
  width: 100%;
  min-height: 100vh;
  background-image: url("/background-images/backgroundMountainUpsideDown.jpg");
  background-size: cover;
  font-family: arial;
}

.contactUsTitles {
  margin: 20px auto;
  color: var(--primary-color);
  text-align: center;
  max-width: 1000px;
  position: relative;
}

.contactUsTitles::before {
  content: "";
  display: block;
  width: 320px;
  height: 3px;
  background: var(--secondary-color);
  left: 0;
  top: 50%;
  position: absolute;
}

.contactUsTitles::after {
  content: "";
  display: block;
  width: 320px;
  height: 3px;
  background: var(--secondary-color);
  right: 0;
  top: 50%;
  position: absolute;
}

.letsChatText {
  margin: 100px 0;
  text-align: center;
}

.userInputInfo {
  display: flex;
  justify-content: center;
}

.userInputInfo fieldset {
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
}

.userInputInfo table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}

.userInputInfo input {
  background-color: var(--primary-color);
  color: var(--quinary-color);
  border: none;
  padding: 2px;
}

.userFullName, .userEmail {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.userFullName tr, .userEmail tr {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userFullName input {
  width: 300px;
}

.userEmail input {
  width: 605px;
}

/* Desktop */
@media (min-width: 1001px){

}

/* Tablet (iPad Air) */
@media (min-width: 601px) and (max-width: 1000px) {
    /* Home Page */
    .header {
      left: 50px;
      bottom: 25%;
      width: 600px;
    }
    .header::after {
      top: 95px;
    }
    .paragraph {
      left: 50px;
      bottom: 15%;
      width: 590px;
    }
    .moreAboutButton {
      left: 50px;
      bottom: 11%;
    }
    .contactUsButton {
      left: 175px;
      bottom: 11%;
    }
    .downwardArrow {
      bottom: 10%;
    }
    /* About Page */
    .aboutUsTitles{
      margin: 3% 3%;
    }
    .aboutUsTitles span {
      padding: 0 30px;
    }
    .firstParagraph {
      margin: 3% 28% 0 28%;
    }
    .aboutPageTextMargin {
      margin: 1.5% 28%;
    }
    .carouselArrows {
      left: 28%;
      gap: 290px;
    }
    .departmentList {
      margin: 25px 0;
    }
}

/* Mobile (Iphone XR) */
@media (max-width: 600px){
  /* Home Page */
  .homeMain {
    background-position: center;
  }
  .navbar {
    padding: 50px;
  }
  .navbar img {
    width: 35px;
    height: 30px;
  }
  .dropdownMenu {
    top: 1%;
    left: 5%;
  }
  .header {
    left: 6%;
    bottom: 50%;
    width: 200px;
    font-size: 16px;
  }
  .header::after {
    top: 65px;
  }
  .paragraph {
    left: 6%;
    bottom: 34%;
    width: 240px;
    font-size: 14px;
  }
  .moreAboutButton {
    position: absolute;
    left: 6%;
    bottom: 30%;
  }
  .contactUsButton {
    left: 31%;
    bottom: 30%;
  }
  .buttonContactUs {
    font-size: 10px;
  }
  .downwardArrow {
    right: 10%;
    bottom: 5%;
  }
  /* About Page */
  .aboutUsTitles {
    margin: 10px;
  }
  .aboutUsTitles span {
    padding: 0 20px;
  }
  .aboutPageTextMargin {
    margin: 10px 100px;
  }
  .firstParagraph {
    margin: 50px 100px 0px 100px;
  }
  .aboutPageTextMargin h3:first-of-type {
    font-size: 24px;
  }
  .upwardArrow {
    right: 10%;
  }
  .downwardArrowAboutPage {
    right: 10%;
  }
  .carouselArrows {
    left: 5%;
    gap: 305px;
  }
  .departmentList {
    margin: 25px 0;
  }

  /* Contact Page */
  .contactUsTitles {
    width: 85%;
  }
  .contactUsTitles::after, .contactUsTitles::before {
    width: 23%;
  }
  .letsChatText {
    margin: 65px 0 15px 0;
  }
  .userInputInfo table {
    padding: 25px;
  }
  .userFullName input {
    width: 125px;
  }
  .userEmail input {
    width: 255px;
  }
}
