.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 155px;
}

.navbar img {
  width: 40px;
  cursor: pointer;
}

/* Home Page */
.homeMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-image: url("/background-images/backgroundMountain.jpg");
  background-size: cover;
  font-family: arial;
}
.header {
  position: absolute;
  left: 300px;
  bottom: 360px;
  width: 380px;
}

.header::after {
  content: '';
  background: #f7dcbe;
  width: 75%;
  height: 3px;
  position: absolute;
  left: 0px;
  top: 120px;
}

.paragraph {
  position: absolute;
  left: 300px;
  bottom: 235px;
  width: 440px;
  line-height: 1.5;
}

.moreAboutButton {
  position: absolute;
  left: 300px;
  bottom: 183px;
}

.contactUsButton {
  position: absolute;
  left: 430px;
  bottom: 183px;
}

.buttonContactUs {
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.buttonContactUs:hover {
  background-color: white;
  color: #143138;
}

.downwardArrow {
  position: absolute;
  right: 100px;
  bottom: 180px;
  width: 25px;
}

/* About Page */
.aboutMain {
  background-color: #143138;
  height: 100vh;
  font-family: arial;
}

.aboutUsTitles {
  margin: 40px 190px;
  text-align: center;
  border-bottom: 5px solid #f7dcbe;
  line-height: 0.1em;
}

.aboutUsTitles span {
  background:#143138; 
  padding:0 100px; 
}

.carouselArrows {
  width: 20px;
}

/* Desktop */
@media (min-width: 1001px){
  
}

/* Tablet (iPad Air) */
@media (min-width: 601px) and (max-width: 1000px) {
  
}

/* Desktop */
@media (min-width: 600px){
  
}


