/* NavBar */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 155px;
}

.navbar img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.dropdownMenu {
  padding: 115px; 
  background: var(--quinary-color);
  border-radius: 200px;
  font-size: 20px;
  position: absolute;
  top: 43px;
  left: 130px;
  display: none;
}

.dropdownMenu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 75px;
  right: 40px;
}

.dropdownMenu li, .dropdownMenu h1 {
  cursor: pointer;
  list-style: none;
}

.closeDropdownMenu {
  position: absolute;
  top: 40px;
  left: 35px;
  font-size: 30px;
}

.dropdownMenu li:hover, .closeDropdownMenu:hover {
  opacity: 0.5;  
}

/* Home Page */
.homeMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-image: url("/background-images/backgroundMountain.jpg");
  background-size: cover;
  font-family: arial;
}
.header {
  position: absolute;
  left: 300px;
  bottom: 360px;
  width: 380px;
}

.header::after {
  content: '';
  background: var(--secondary-color);
  width: 75%;
  height: 3px;
  position: absolute;
  left: 0px;
  top: 120px;
}

.paragraph {
  position: absolute;
  left: 300px;
  bottom: 235px;
  width: 440px;
  line-height: 1.5;
}

.moreAboutButton {
  position: absolute;
  left: 300px;
  bottom: 183px;
}

.contactUsButton {
  position: absolute;
  left: 430px;
  bottom: 183px;
}

.buttonContactUs {
  padding: 5px 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background: none;
  cursor: pointer;
}

.buttonContactUs:hover {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}

.downwardArrow {
  position: absolute;
  right: 100px;
  bottom: 180px;
  width: 25px;
}

/* About Page */
.aboutMain {
  background-color: var(--quaternary-color);
  font-family: arial;
}

.aboutPageText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.aboutPageTextMargin {
  margin: 10px 395px;
}

.aboutPageTextMargin p:first-of-type {
  margin-top: 50px;
}

.aboutUsTitles {
  margin: 90px 190px;
  text-align: center;
  border-bottom: 5px solid var(--secondary-color);
  line-height: 0.1em;
}

.aboutUsTitles span {
  background:var(--quaternary-color); 
  padding:0 100px; 
}

.upwardArrow {
  position: fixed;
  right: 100px;
  bottom: 180px;
}

.downwardArrowAboutPage {
  position: fixed;
  right: 100px;
  bottom: 125px;
}

.upwardArrow img, .downwardArrowAboutPage img {
  width: 20px;
  cursor: pointer;
}

.displayCarouselImages {
  position: relative;
}

.carouselImagesDisplay{
  position: relative;
  z-index: 0;
}

.carouselImagesDisplay img {
  width: 400px;
  height: 200px;
}

.carouselImagesTest {
  position: absolute;
  width: 175px;
}

.carouselArrows {
  position: absolute;
  top: 130px;
  left: 38%;
  display: flex;
  gap: 260px;
}

.carouselArrows img {
  width: 35px;
  cursor: pointer;
}

.departmentList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  list-style: none;
  gap: 35px;
  margin-bottom: 35px;
}

/* Contact Page */
.contactMain {
  width: 100%;
  min-height: 100vh;
  background-image: url("/background-images/backgroundMountainUpsideDown.jpg");
  background-size: cover;
  font-family: arial;
}

.contactUsTitles {
  margin: 20px auto;
  color: var(--primary-color);
  text-align: center;
  max-width: 1000px;
  position: relative;
}

.contactUsTitles::before {
  content: "";
  display: block;
  width: 320px;
  height: 3px;
  background: var(--secondary-color);
  left: 0;
  top: 50%;
  position: absolute;
}

.contactUsTitles::after {
  content: "";
  display: block;
  width: 320px;
  height: 3px;
  background: var(--secondary-color);
  right: 0;
  top: 50%;
  position: absolute;
}

.letsChatText {
  margin: 100px 0;
  text-align: center;
}

/* Desktop */
@media (min-width: 1001px){
  
}

/* Tablet (iPad Air) */
@media (min-width: 601px) and (max-width: 1000px) {
  
}

/* Desktop */
@media (min-width: 600px){
  
}


